@model DESContent
@{
    ViewData["Title"] = "DES cipher";
}
<form asp-controller="Home" asp-action="EncodeDES" method="POST" source="custom" name="form" style="padding: 10px;">
    <div class="element">
        <div>
            <p style="font-size: 20px">Исходный текст</p>
            <input asp-for="encryptionString" class="TA1"></input>
            <div class="in_bl">
                <p style="font-size: 20px">Ключ</p>
                <input asp-for="encryptionKey" class="inputDES">
            </div>
        </div>
        <div>
            <p style="font-size: 20px">Зашифрованный текст</p>
            <textarea asp-for="decryptionString" class="TA2"></textarea>
        </div>
    </div>
    <input type="submit" asp-action="EncodeDES" value="Зашфровать" class="u-btn1">
    <input type="hidden" asp-for="encryptionString" />
    <div asp-validation-summary="All"></div>
</form>