@model DES_cipher
@{
    ViewData["Title"] = "Хеширование паролей";
}
<form asp-controller="Home" asp-action="PasswordHashing" method="POST" source="custom" name="form" style="padding: 10px;">
    <div class="lw7_marg">
        <label>Введите пароль</label> <br />
        <input style="width: 400px; font-size: 12px;" asp-for="pass_lw7">
        <input type="submit" asp-action="PasswordHashing" value="Получить хэш" class="u-btn1">
    </div>

    <div class="lw7_marg">
        <textarea asp-for="outputRes" rows="10" cols="70"></textarea>
    </div>

</form>
